<div class="tvshows-page">
    <div class="tvshows-banner">
      <img [src]="tvshow.image" alt="{{ tvshow.title }}" />
      <div class="back-button">
        <button type="button" (click)="goBack()">← Back</button>
      </div>
      <div class="overlay">
        <h1>{{ tvshow.title }}</h1>
      </div>
    </div>
  
    <div class="tvshows-info">
      <ul>
        <li><span>Director:</span> {{ tvshow.director }}</li>
        <li><span>Actor:</span> {{ tvshow.actor }}</li>
        <li><span>Actress:</span> {{ tvshow.actress }}</li>
        <li><span>Music:</span> {{ tvshow.music }}</li>
        <li><span>Budget:</span> {{ tvshow.budget }}</li>
        <li><span>Collection:</span> {{ tvshow.collection }}</li>
        <li><span>Rating:</span> {{ tvshow.rating }}</li>
      </ul>
    </div>
  </div>
  
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-links">
        <a href="#">About</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        <a href="#">Help</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/" class="social-icon"><i class="fab fa-youtube"></i></a>
      </div>
      <p class="footer-text">© 2025 Jio Hotstar. All Rights Reserved.</p>
    </div>
  </footer>
  